$aweco-primary:#00bf66;
$aweco-primary-hover: #209b68;
$aweco-nav-link-color:#212529d6;
@import './core';
@import './header';
@import './bloghome';
@import './singlepost';
@import "./home-single-navigation";
@import './post_comments_list';
@import './widget_style';
@import './page';
@import './footer';
@import './sticky-post';